.btn-border{
    border: 1px solid rgba(39,64,109,.22);
    border-radius: 5px;
}
.content_relate{
    padding: 0 10%;
}
.content-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    width:100%;
    .coll{
         padding-left: 8px;
         padding-right: 8px;
        margin-bottom: 16px;
        width: 31%;
    }
    .col3{
      flex: 0 0 31%;
        .item{
          
            width: 100%;
            background: #fff;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            float: left;
            position: relative;
            
            &:hover .img_item img{
                
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                   //  background-color: #4a4a4a !important;
            }
            &:hover .img_item .hv_btn_save{
                @media screen and (min-width:768px) {
                    display: block;
                }
            }
            &:hover .img_item::before{
                background: rgba(0, 0, 0, 0.3);
            }

            .img_item{
                width: 100%;
                height: auto;
                overflow: hidden; 
                position: relative;
           
                .hv_btn_save{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    text-align: center;
                    z-index: 3;
                    display: none;
                     top: calc(50% - 20px);
                     button{
                        height: 36px;
                        width: 90px;
                        border: 1px solid #FFFFFF;
                        border-radius: 18px;
                        background-color: rgba(255,255,255,0);
                        font-size: 15px;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                        transition: 0.3s;
                        i{
                            display: inline-block;
                            position: relative;
                            background: url(https://static.homedy.com/src/images/icon/save-fill.svg) no-repeat center;
                            width: 14px;
                            height: 14px;
                            top: 2px;
                            margin-right: 3px;
                        }
                        &:hover{
                            background-color: rgb(255 255 255 / 30%);
                        }
                     }
                }
            }
            .img_item::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-sizing: inherit;
                background-image: linear-gradient(rgba(255, 255, 255, 0.00) 75%, rgba(0, 0, 0, 0.5));
                z-index: 1;
            }
            //position: relative;
            .img_item img {
                z-index: 5;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform .2s; 
               
            }
                .title{
                    padding: 10px;
                    h3{
                        line-height: 1.5em;
                        height: 3em;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        color: #4A4A4A;
                        font-size: 15px;
                        font-weight: normal;
                    }
                }
                .proflie_post{
                    padding-bottom: 10px;
                    display: flex;
                    width: 100%;
                    position: relative;
                    align-items: center;
                    .people{
                        width: 60%;
                        padding-left: 2%;
                        img{
                            float: left;
                            width: 32px;
                            margin-top: 10px;
                            height: 32px;
                            border-radius: 50%;
                           
                            background: #e8e8e8;
                            overflow: hidden;
                        }
                        p{
                           
                             padding-left: 3%;
                            color: black;
                            float: left;
                        }
                    }
                    .menu_icon {
                        display: flex;
                        position: absolute;
                        height: 100%;
                        right: 0;
                      
                        .share{
                           
                             position: relative;
                             margin: auto 0px;
                             padding-right: 20px;
                             .share_img{
                                 text-align: center;
                                 width: 17px;

                             }
                            
                            .sotical{
                                 display: none;
                                 // @extend .btn-border;
                                 border: 1px solid rgba(39,64,109,.22);
                                  border-radius: 5px;
                                 position: absolute;
                                 // top: 34px;
                                 // top: ;
                                 // margin-top: -20px;
                                 left: calc(100% - 38px);
                                 //height: 130px;
                                 width: 252px;
                                 border-radius: 4px;
                                 background-color: #fff;
                                 box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
                                 z-index: 99;
                                 text-align: left;
                                 padding: 16px;
                                 font-size: 14px;
                                 font-weight: bold;
                                 .lb_copy{
                                    
                                     a{
                                         text-decoration: none;
                                         color: $color_primary;
                                         font-size: 16px;
                                     }
                                 }
                                 label{
                                     float: left;
                                     color: #4a4a4a;
                                     
                                     margin-bottom: 10px;
                                     .lb_share{
                                         float: left;
                                         background: url(https://static.homedy.com/src/images/social/chia-se.svg) no-repeat center;
                                         margin-right: 8px;
                                         width: 18px;
                                         height: 18px;
                                         margin-top: -1px;
                                     }
                                     .copy_url{
                                         float: left;
                                         background: url(https://static.homedy.com/src/images/social/share-link.svg) no-repeat center;
                                         margin-right: 8px;
                                         width: 18px;
                                         height: 18px;
                                         margin-top: -1px;
                                         
                                     }
                                 }
                                 .share-social{
                                     width: 80%;
                                     margin: 0 auto;
                                     margin-bottom: 16px;
                                      display: flex;
                                      border-bottom: solid 1px $color_secondary ;
                                      padding-bottom: 10px;
                                     li{
                                         float: left;
                                         width: 20%;
                                          list-style-type: none;
                                         a img{
                                             width: 75%;
                                          }
                                     }
                                 }
                             }
                             @media screen and (max-width:920px) {
                                &:hover{
                                    .sotical{
                                       width: 100%;
                                       // height: 20%;
                                       position: fixed;
                                       left: 0;
                                       right: 0;
                                       bottom: 0;
                                       z-index: 1000;
                                       
                                       label:first-child{
                                           width: 100%;
                                           text-align: center;
                                           .lb_share{
                                               display: none;
                                           }
                                       }
                                       .share-social{
                                           width: 100%;
                                           margin: 5px 0;
                                           padding: 10px 0 ;
                                           li{
                                               margin: 0;
                                               width: 20%;
                                           }
                                           li a img {
                                              
                                               float: left;
                                               text-align: left;
                                             
                                               width: 30px;
                                           }
                                       }
                                       .lb_copy{
                                           margin-top: 10px;
                                       }
                                   }
                                  
                                }
                            }
                             &:hover .sotical{
                                 display: block;
                             }
                        }
                        
                        .count{
                            margin: auto 0px;
                            margin-right: 10px;
                             img{
                                vertical-align: middle;
                                 width: 20px;
                             }
                             span{
                                padding-left: 5px;
                                vertical-align: middle;
                             }
                             @media screen and (max-width:768px) {
                                display: none;
                            }
                         }
                         .lb_save{
                            display: none;
                            @media screen and (max-width:768px) {
                                display: block;
                            }
                            margin: auto 0px;
                            justify-content: center;
                            margin-right: 10px;
                            img{
                                width: 30px;
                                cursor: pointer;
                                vertical-align: middle;
                            }
                            span{
                                vertical-align: middle;
                            }
                            
                        }
                    }
                    
                }
        }
   
    }
}

// ẩn nút lưu
@mixin content($x) {
    .content{
        margin: 0 ;
        padding: 0;
        width: 100%;
        padding-bottom: 25px;
    .content-list{
        display: flex;
        justify-content: center;
        @media screen and (max-width:920px) {
            justify-content: left;
        }
        flex-wrap: wrap;
        width:100%;
        .coll{
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 16px;
            width: $x;
        }
        .col3{
          flex: 0 0 $x  ;
            .item{
                width: 100%;
                background: #fff;
                border: 1px solid #e8e8e8;
                border-radius: 4px;
                float: left;
                position: relative;
                &:hover .img_item img{
                    
                        -ms-transform: scale(1.2);
                        transform: scale(1.2);
                }
                    .title{
                        padding: 10px;
                        h3{
                            line-height: 1.5em;
                            height: 3em;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            color: #4A4A4A;
                            font-size: 15px;
                            font-weight: normal;
                        }
                    }
                  
            }
        }
    }
    }
}

@media screen and (max-width:480px){
    $width_col : 100%;
    @include content($width_col);
}
@media screen and (min-width:481px) and (max-width:768px) {
    $width_col : 46%;
    @include content($width_col);
}
@media screen and (min-width:769px) and (max-width:920px) {
    $width_col : 31%;
    @include content($width_col);
}
@media screen and (min-width:921px) and (max-width:1200px) {
    $width_col : 31%;
    @include content($width_col);

}
@media screen and (min-width:1200px) {

}