html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.01em;
  scroll-behavior: smooth;
}

.animate {
  transform: rotate(90deg);
  transition: 0.5s;
}

body {
  margin: 0;
}

.pos_index {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.btn-border, .search .content_search button .search_drop ul, .search .content_search button, header .top_area .form-profile .form-right .resign, header .top_area .form-search .btn_map, header .top_area .form-search .form-group .list_search {
  border: 1px solid rgba(39, 64, 109, 0.22);
  border-radius: 5px;
}

html {
  margin: 0;
  padding: 0;
  font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.01em;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  background-color: #1187d2;
  height: 65px;
  width: 100%;
}
header .top_area {
  margin: 0 10%;
  height: 65px;
  line-height: 65px;
  position: relative;
  display: flex;
  align-items: center;
}
header .top_area .tab3 {
  display: none;
  background-color: #1187d2;
  margin: 12px 16px;
}
header .top_area .tab3 .barr {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
}
header .top_area .logo {
  width: 200px;
  position: relative;
}
header .top_area .logo .a_logo_two {
  display: none;
}
header .top_area .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header .top_area .form-search {
  margin-left: 50px;
  float: left;
  min-width: 50%;
  height: 65px;
  display: flex;
  align-items: center;
}
header .top_area .form-search .form-group {
  position: relative;
  width: 400px;
  height: 40px;
  border: 1px solid #cdc;
  border-radius: 4px;
  background-color: #fff;
  float: left;
  display: block;
  justify-content: center;
  margin-left: 5%;
  display: flex;
  align-items: center;
}
header .top_area .form-search .form-group .list_search {
  display: none;
  top: 45px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 999999 !important;
}
header .top_area .form-search .form-group .list_search ul {
  list-style: none;
  padding: 5px 0;
}
header .top_area .form-search .form-group .list_search ul p {
  margin-left: 15px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #30456e;
}
header .top_area .form-search .form-group .list_search ul li {
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
}
header .top_area .form-search .form-group .list_search ul li a {
  margin-left: 15px;
  float: left;
  width: 100%;
  transition: 0.2s;
  color: #4a4a4a !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  display: flex;
}
header .top_area .form-search .form-group .list_search ul li a img {
  float: left;
  width: 15px;
  margin-right: 8px;
}
header .top_area .form-search .form-group .list_search ul li:hover {
  background-color: #e8e8e8;
}
header .top_area .form-search .form-group .form-group-one {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
}
header .top_area .form-search .form-group .form-group-one:focus-within button .dropdown_buyhome {
  display: block;
}
header .top_area .form-search .form-group .form-group-one button {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: #fff;
  justify-content: center;
  vertical-align: middle;
  border-right: 1px solid #cdc;
}
header .top_area .form-search .form-group .form-group-one button .icon_buy {
  display: block;
  margin-right: 10px;
}
header .top_area .form-search .form-group .form-group-one button i {
  color: #1187d2;
  margin-left: 5px;
}
header .top_area .form-search .form-group .form-group-one button .dropdown_buyhome {
  display: none;
  margin-top: 30px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  margin-left: 0;
  z-index: 100;
  justify-content: center;
}
header .top_area .form-search .form-group .form-group-one button .dropdown_buyhome .ul_drdown {
  list-style: none;
  padding: 0 5px;
}
header .top_area .form-search .form-group .form-group-one button .dropdown_buyhome .ul_drdown li {
  text-align: left;
  justify-content: unset;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 30px;
  padding: 4px 4px;
}
header .top_area .form-search .form-group .form-group-one button .dropdown_buyhome .ul_drdown li:hover {
  background-color: #f5f5f5;
}
header .top_area .form-search .form-group .form-group-one button .dropdown_buyhome .ul_drdown li img {
  margin-right: 5px;
}
header .top_area .form-search .form-group .form-group-one:hover {
  cursor: pointer;
  background-color: #cdc;
}
header .top_area .form-search .form-group .form-group-one:hover button {
  cursor: pointer;
  background-color: #cdc;
}
header .top_area .form-search .form-group .form-group-two {
  width: 70%;
  display: flex;
  align-items: center;
}
header .top_area .form-search .form-group .form-group-two input {
  border: none;
  float: left;
  width: 85%;
  border: 0;
  background: #fff;
  color: #4a4a4a;
  font-size: 14px;
  height: 38px;
}
header .top_area .form-search .form-group .form-group-two input:focus-visible {
  outline-style: none;
}
header .top_area .form-search .form-group .form-group-two img {
  width: 17px;
}
header .top_area .form-search .form-group .form-group-two img:hover {
  cursor: pointer;
}
header .top_area .form-search .btn_map {
  display: flex;
  align-items: center;
  margin-left: 2%;
  height: 40px;
  width: 100px;
  justify-content: center;
  background-color: #fff;
}
header .top_area .form-search .btn_map .btn_img_map {
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
}
header .top_area .form-search .btn_map .btn_img_map .img_map {
  padding-right: 5px;
  width: 16px;
  height: 16px;
}
header .top_area .form-profile {
  width: 100%;
}
header .top_area .form-profile .form-right {
  display: inline-block;
  position: relative;
  width: 100%;
  justify-content: right;
  display: flex;
  align-items: center;
}
header .top_area .form-profile .form-right a {
  color: #fff;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 42px;
  line-height: 1.5;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
header .top_area .form-profile .form-right .login {
  width: 80px;
  height: 52px;
  line-height: 52px;
  margin-right: 20px;
  justify-content: center;
}
header .top_area .form-profile .form-right .resign {
  justify-content: center;
  height: 42px;
  width: 98px;
  line-height: 42px;
  left: 0;
  font-weight: normal;
  font-size: 14px;
  color: #4a4a4a;
  background: #fff;
}
header .top_area .icon-search {
  display: none;
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: absolute;
  right: 15px;
  text-align: center;
}
header .top_area .icon-search img {
  width: 20px;
  color: #fff;
  padding-bottom: 30%;
}
@media screen and (max-width: 920px) {
  header .top_area .icon-search {
    display: block;
  }
}
header .top_area .icon-search:hover {
  background-color: #0f79bc;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  header header {
    height: 48px !important;
  }
  header .top_area {
    height: 48px;
    margin: 0;
  }
  header .top_area .tab3 {
    display: block;
  }
  header .top_area .logo .a_logo_one {
    display: none;
  }
  header .top_area .logo .a_logo_two {
    display: block;
  }
}

.second_header {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 52px;
  background-color: #1187d2;
}
@media screen and (min-width: 768px) {
  .second_header .close-menu-bar, .second_header .login-option {
    display: none !important;
  }
}
.second_header nav {
  margin: 0 10%;
}
.second_header .col {
  height: 53px;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: inline-block;
  display: flex;
}
.second_header .col li {
  height: 52px;
  line-height: 52px;
  flex-grow: 1;
  position: relative;
  display: inline-block;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .second_header .col li:hover .dropdown-content {
    display: block;
  }
  .second_header .col li:hover .dropdown-content ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 1;
  }
}
.second_header a {
  padding-left: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.second_header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 2;
  left: 10px;
}
.second_header .dropdown-content a {
  line-height: 30px;
  text-align: left;
  min-width: 300px;
  border-bottom: 1px solid #cdc;
  color: black;
  display: block;
  height: 30px;
  text-align: left;
  opacity: 0.8;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .close-menu-bar {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 32px;
    width: 32px;
    background: url(https://static.homedy.com/src/images/social/newsfeed/close.svg) no-repeat center;
    border: none;
    background-size: 45%;
  }
  .second_header {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .second_header nav {
    position: unset;
    overflow: auto;
    height: calc(100% - 100px);
    position: relative;
    width: 100%;
    margin: 0 !important;
    border-top: 1px solid #e8e8e8;
  }
  .second_header nav .login-option {
    width: 100%;
    height: 52px;
    line-height: 52px;
    flex-grow: 1;
    position: relative;
    display: flex;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
  }
  .second_header nav .login-option a {
    width: 50%;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    border-right: 1px solid #e8e8e8;
  }
  .second_header nav .login-option a:hover {
    background-color: #ccc;
  }
  .second_header nav ul {
    height: 100% !important;
    text-align: left !important;
    width: 100%;
    display: block !important;
  }
  .second_header nav ul li {
    display: block !important;
    position: relative;
    width: 100%;
    color: #3d4d65;
    float: left;
    font-size: 15px;
    height: auto;
    line-height: normal;
    text-transform: uppercase;
    font-weight: normal;
    height: unset !important;
  }
  .second_header nav ul li a {
    color: black;
  }
  .second_header nav ul li a::after {
    position: absolute;
    content: " ";
    background: url(https://static.homedy.com/src/images/icon/icon-desktop.png);
    background-position: -294px -95px;
    font-size: 22px;
    right: 6px;
    top: 4px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border: none;
    color: #3d4d65;
    opacity: 0.5;
    transition: 0.5s;
  }
  .second_header nav ul li:focus-within a::after {
    transform: rotate(90deg);
    transition: 0.5s;
  }
  .second_header nav ul li .dropdown-content {
    transition: max-height 0.2s ease-out;
    position: unset;
    overflow: hidden;
    background: #fff;
    border-radius: 0;
    border: none;
    width: 100%;
    margin-bottom: -3px;
    max-width: unset;
    box-shadow: none;
  }
  .second_header nav ul li .dropdown-content a {
    text-transform: none;
    font-size: 14px;
    padding: 3px 16px;
    border: none;
  }
}
@media screen and (max-width: 480px) {
  .top_area .logo img {
    margin-left: 0 !important;
  }
  .top_area .form-search {
    display: none !important;
  }
  .form-profile {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .top_area .logo img {
    margin-left: 0 !important;
  }
  .top_area .form-search {
    display: none !important;
  }
  .form-profile {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .second_header {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 52px;
    background-color: #1187d2;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) and (min-width: 768px) {
  .second_header .close-menu-bar, .second_header .login-option {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .second_header nav {
    margin: 0 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .second_header .col {
    height: 53px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    display: flex;
  }
  .second_header .col li {
    height: 52px;
    line-height: 52px;
    flex-grow: 1;
    position: relative;
    display: inline-block;
    font-weight: 500;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) and (min-width: 768px) {
  .second_header .col li:hover .dropdown-content {
    display: block;
  }
  .second_header .col li:hover .dropdown-content ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .second_header a {
    padding-left: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .second_header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 2;
    left: 10px;
  }
  .second_header .dropdown-content a {
    line-height: 30px;
    text-align: left;
    min-width: 300px;
    border-bottom: 1px solid #cdc;
    color: black;
    display: block;
    height: 30px;
    text-align: left;
    opacity: 0.8;
    font-weight: normal;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .top_area {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .second_header {
    width: 100% !important;
    display: block !important;
    background-color: #f6f6f6;
  }
  .second_header nav {
    display: none;
    margin: 0 0 !important;
  }
  .second_header nav ul li {
    width: auto;
    margin: 0 5px !important;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 52px;
    background-color: #1187d2;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) and (min-width: 768px) {
  .second_header .close-menu-bar, .second_header .login-option {
    display: none !important;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header nav {
    margin: 0 10%;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header .col {
    height: 53px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    display: flex;
  }
  .second_header .col li {
    height: 52px;
    line-height: 52px;
    flex-grow: 1;
    position: relative;
    display: inline-block;
    font-weight: 500;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) and (min-width: 768px) {
  .second_header .col li:hover .dropdown-content {
    display: block;
  }
  .second_header .col li:hover .dropdown-content ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 1;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header a {
    padding-left: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 2;
    left: 10px;
  }
  .second_header .dropdown-content a {
    line-height: 30px;
    text-align: left;
    min-width: 300px;
    border-bottom: 1px solid #cdc;
    color: black;
    display: block;
    height: 30px;
    text-align: left;
    opacity: 0.8;
    font-weight: normal;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .top_area {
    margin: 0 2% !important;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header {
    width: 100% !important;
    display: block !important;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .second_header nav {
    margin: 0 0 !important;
  }
  .second_header nav ul li {
    width: auto;
    margin: 0 5px !important;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .form-search .btn_map {
    display: none !important;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .search {
    position: relative;
    /* Track */
  }
  .search .content_search {
    margin: 0;
    padding-right: 0 !important;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    /* width */
  }
  .search .content_search button {
    display: inline-block;
  }
  .search ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .second_header {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 52px;
    background-color: #1187d2;
  }
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
  .second_header .close-menu-bar, .second_header .login-option {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .second_header nav {
    margin: 0 10%;
  }
}
@media screen and (min-width: 1200px) {
  .second_header .col {
    height: 53px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    display: flex;
  }
  .second_header .col li {
    height: 52px;
    line-height: 52px;
    flex-grow: 1;
    position: relative;
    display: inline-block;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
  .second_header .col li:hover .dropdown-content {
    display: block;
  }
  .second_header .col li:hover .dropdown-content ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .second_header a {
    padding-left: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .second_header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 2;
    left: 10px;
  }
  .second_header .dropdown-content a {
    line-height: 30px;
    text-align: left;
    min-width: 300px;
    border-bottom: 1px solid #cdc;
    color: black;
    display: block;
    height: 30px;
    text-align: left;
    opacity: 0.8;
    font-weight: normal;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .second_header {
    width: 100% !important;
    display: block !important;
  }
}
.pos_index {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.menu .menu-content {
  margin: 0 10%;
  float: left;
  display: flex;
}
.menu .menu-content .menu_item {
  height: 58px;
  line-height: 58px;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 500;
}
.menu .menu-content .menu_item a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.menu .menu-content .menu_item a img {
  width: 18px;
}
.menu .menu-content .menu_item a:hover {
  cursor: pointer;
}
.menu .menu-content .menu_item:first-child {
  border-bottom: #0298da solid 3px;
}

@media screen and (max-width: 768px) {
  .menu {
    height: 48px;
    top: 48px;
    margin: 0;
    padding: 0;
    background-color: #1187d2;
    position: fixed;
    width: 100%;
    z-index: 4;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .menu .menu-content {
    width: 100%;
    margin: 0;
  }
  .menu .menu-content .menu_item {
    height: 48px;
    width: 50%;
    font-size: 11px;
    display: flex;
    justify-content: center;
    line-height: 48px;
  }
  .menu .menu-content .menu_item a {
    color: #fff;
  }
  .menu .menu-content .col-6:first-child a {
    border-bottom: #fff solid 3px !important;
  }
  .menu .menu-content .menu_item:first-child {
    border-bottom: none;
  }
}
.search_drop::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 50px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-top: 0;
  margin-left: -5px;
  margin-top: -5px;
  z-index: 1;
}

.search {
  height: 58px;
  width: 100%;
  background-color: #fff;
}
.search .content_search {
  box-shadow: 0 9px 22px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
  line-height: 58px;
}
.search .content_search button {
  max-width: 160px;
  min-width: 100px;
  height: 36px;
  margin: 5px 5px;
  background-color: #f9fafb;
  font-weight: normal;
  position: relative;
}
.search .content_search button:hover {
  cursor: pointer;
  background-color: #cdc;
}
.search .content_search button:focus-within .search_drop {
  display: block;
}
.search .content_search button i {
  float: right;
}
.search .content_search button .search_drop {
  display: none;
  z-index: 10;
  position: absolute;
  top: 30px;
}
.search .content_search button .search_drop ul {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.search .content_search button .search_drop ul li {
  padding: 4px 16px;
  min-width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: left;
}
.search .content_search button .search_drop ul li:hover {
  background-color: #cdc;
}
.search .content_search button .search_drop ul :first-child {
  color: #1187d2;
  font-weight: bold;
}
.search .content_search button .content-color {
  padding: 0;
  width: 200px;
  width: 200px;
  background-color: #fff;
}
.search .content_search button .content-color :first-child p:first-child {
  float: left;
}
.search .content_search button .content-color :first-child p {
  float: right;
}
.search .content_search button:last-child {
  border: none;
  background-color: #fff;
  color: #1187d2;
  font-weight: bold;
}
.search .content_search button:last-child:hover {
  background: #acd8f4;
  color: #1187d2 !important;
}

@media screen and (max-width: 920px) {
  .search {
    position: relative;
  }
  .search .content_search {
    margin: 0;
    padding-right: 0 !important;
    width: 100%;
    overflow: auto !important;
    white-space: nowrap;
  }
  .search .content_search button {
    display: inline-block;
  }
  .search .content_search button:hover {
    cursor: pointer;
  }
  .search .content_search button:focus-within .search_drop {
    width: 100%;
    height: 1000px;
    position: fixed;
    left: 0;
    right: 0;
    top: 350px;
    z-index: 1000;
  }
  .search .content_search button:focus-within .search_drop ul {
    height: 50%;
  }
  .search .content_search button:focus-within .search_drop ul :not(li:first-child) {
    border-bottom: 1px solid #e8e8e8;
  }
  .search .content_search button:focus-within .search_drop ul li:first-child {
    text-align: center;
    justify-content: center;
    font-weight: 500;
    color: #30456e;
    font-size: 16px;
  }
}
.content {
  height: auto;
  padding: 0 10%;
  background-color: #fafafa;
  padding-bottom: 20px;
}
.content .breadcrumb {
  margin-bottom: 15px;
  height: 32px;
  padding: 16px 0;
}
.content .breadcrumb ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}
.content .breadcrumb ul :not(:last-child)::after {
  content: " ";
  background-image: url(https://static.homedy.com/src/images/icon/right-arrow.png);
  width: 9px;
  height: 15px;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  opacity: 0.4;
  background-position-x: -4px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.content .breadcrumb ul li {
  padding: 5px;
}
.content .breadcrumb ul li a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.content h1 {
  margin-top: 0;
  font-size: 20px;
  line-height: 26px;
}
.content .page {
  padding-bottom: 20px;
}
.content .page ul {
  width: 200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}
.content .page ul li {
  padding: 2px;
}
.content .page ul li a {
  font-weight: 700;
  text-decoration: none;
  float: left;
  font-size: 15px;
  color: #54657e !important;
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-left: 10px;
  text-transform: uppercase;
}
.content .page ul li:first-child a {
  background-color: #0298da;
  color: #fff !important;
}
.content .page ul :hover a {
  background-color: #0298da;
  color: #fff !important;
}
.content .des {
  height: auto;
  background-color: #fff;
  justify-content: center;
  max-width: 800px;
  background: #fff;
  margin: 0 auto;
  padding: 10px;
  line-height: 28px;
  border: 1px solid #e8e8e8;
}
.content .des .img_house {
  text-align: center;
}
.content .des .img_house img {
  max-width: 100%;
}

input:focus-within .list_search {
  display: block;
}

@media screen and (max-width: 480px) {
  .content .des {
    margin: 0px 0px !important;
  }
  .search {
    padding-top: 35px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .search {
    padding-top: 35px;
    position: relative;
  }
  .search .content_search {
    margin: 0;
    padding-right: 0 !important;
    width: 100%;
    overflow: auto !important;
    white-space: nowrap;
  }
  .search .content_search button {
    display: inline-block;
  }
  .search .content_search button:focus-within .search_drop {
    width: 100%;
    height: 1000px;
    position: fixed;
    left: 0;
    right: 0;
    top: 350px;
    z-index: 1000;
  }
  .search .content_search button:focus-within .search_drop ul {
    height: 50%;
  }
  .search .content_search button:focus-within .search_drop ul :not(li:first-child) {
    border-bottom: 1px solid #e8e8e8;
  }
  .search .content_search button:focus-within .search_drop ul li:first-child {
    text-align: center;
    justify-content: center;
    font-weight: 500;
    color: #30456e;
    font-size: 16px;
  }
  .content .des {
    margin: 0px 0px !important;
  }
  footer {
    display: none;
  }
  .second_header {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .menu {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1009;
  }
  .menu .menu-content {
    width: 100%;
    margin: 0;
  }
  .search {
    position: relative;
  }
  .search .content_search {
    margin: 0;
    padding-right: 0 !important;
    width: 100%;
    overflow: auto !important;
    white-space: nowrap;
  }
  .search .content_search button {
    display: inline-block;
  }
  .search .content_search button:focus-within .search_drop {
    width: 100%;
    height: 1000px;
    position: fixed;
    left: 0;
    right: 0;
    top: 350px;
    z-index: 1000;
  }
  .search .content_search button:focus-within .search_drop ul {
    height: 50%;
  }
  .search .content_search button:focus-within .search_drop ul :not(li:first-child) {
    border-bottom: 1px solid #e8e8e8;
  }
  .search .content_search button:focus-within .search_drop ul li:first-child {
    text-align: center;
    justify-content: center;
    font-weight: 500;
    color: #30456e;
    font-size: 16px;
  }
  .content .des {
    justify-content: center;
  }
  footer {
    display: none;
  }
  .foot_responsiv {
    display: block;
  }
  .about {
    display: block;
  }
  .second_header {
    display: none;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .search {
    position: relative;
  }
  .search .content_search {
    padding-right: 0 !important;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
  .search .content_search button {
    display: inline-block;
  }
  .search ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  .content .des {
    width: 100%;
    margin: 0px auto !important;
    justify-content: center;
    max-width: 800px;
  }
}
@media screen and (min-width: 1201px) {
  .second_header .col {
    text-align: left;
    flex-grow: 1;
  }
}
.btn-border, header .top_area .form-search .form-group .list_search, header .top_area .form-search .btn_map, header .top_area .form-profile .form-right .resign, .search .content_search button, .search .content_search button .search_drop ul {
  border: 1px solid rgba(39, 64, 109, 0.22);
  border-radius: 5px;
}

.content_relate {
  padding: 0 10%;
}

.content-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  width: 100%;
}
.content-list .coll {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
  width: 31%;
}
.content-list .col3 {
  flex: 0 0 31%;
}
.content-list .col3 .item {
  width: 100%;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  float: left;
  position: relative;
}
.content-list .col3 .item:hover .img_item img {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .content-list .col3 .item:hover .img_item .hv_btn_save {
    display: block;
  }
}
.content-list .col3 .item:hover .img_item::before {
  background: rgba(0, 0, 0, 0.3);
}
.content-list .col3 .item .img_item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.content-list .col3 .item .img_item .hv_btn_save {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 3;
  display: none;
  top: calc(50% - 20px);
}
.content-list .col3 .item .img_item .hv_btn_save button {
  height: 36px;
  width: 90px;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.content-list .col3 .item .img_item .hv_btn_save button i {
  display: inline-block;
  position: relative;
  background: url(https://static.homedy.com/src/images/icon/save-fill.svg) no-repeat center;
  width: 14px;
  height: 14px;
  top: 2px;
  margin-right: 3px;
}
.content-list .col3 .item .img_item .hv_btn_save button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.content-list .col3 .item .img_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: inherit;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 75%, rgba(0, 0, 0, 0.5));
  z-index: 1;
}
.content-list .col3 .item .img_item img {
  z-index: 5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s;
}
.content-list .col3 .item .title {
  padding: 10px;
}
.content-list .col3 .item .title h3 {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #4A4A4A;
  font-size: 15px;
  font-weight: normal;
}
.content-list .col3 .item .proflie_post {
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.content-list .col3 .item .proflie_post .people {
  width: 60%;
  padding-left: 2%;
}
.content-list .col3 .item .proflie_post .people img {
  float: left;
  width: 32px;
  margin-top: 10px;
  height: 32px;
  border-radius: 50%;
  background: #e8e8e8;
  overflow: hidden;
}
.content-list .col3 .item .proflie_post .people p {
  padding-left: 3%;
  color: black;
  float: left;
}
.content-list .col3 .item .proflie_post .menu_icon {
  display: flex;
  position: absolute;
  height: 100%;
  right: 0;
}
.content-list .col3 .item .proflie_post .menu_icon .share {
  position: relative;
  margin: auto 0px;
  padding-right: 20px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .share_img {
  text-align: center;
  width: 17px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical {
  display: none;
  border: 1px solid rgba(39, 64, 109, 0.22);
  border-radius: 5px;
  position: absolute;
  left: calc(100% - 38px);
  width: 252px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
  text-align: left;
  padding: 16px;
  font-size: 14px;
  font-weight: bold;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical .lb_copy a {
  text-decoration: none;
  color: #1187d2;
  font-size: 16px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical label {
  float: left;
  color: #4a4a4a;
  margin-bottom: 10px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical label .lb_share {
  float: left;
  background: url(https://static.homedy.com/src/images/social/chia-se.svg) no-repeat center;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  margin-top: -1px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical label .copy_url {
  float: left;
  background: url(https://static.homedy.com/src/images/social/share-link.svg) no-repeat center;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  margin-top: -1px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical .share-social {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  border-bottom: solid 1px #cdc;
  padding-bottom: 10px;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical .share-social li {
  float: left;
  width: 20%;
  list-style-type: none;
}
.content-list .col3 .item .proflie_post .menu_icon .share .sotical .share-social li a img {
  width: 75%;
}
@media screen and (max-width: 920px) {
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical label:first-child {
    width: 100%;
    text-align: center;
  }
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical label:first-child .lb_share {
    display: none;
  }
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical .share-social {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
  }
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical .share-social li {
    margin: 0;
    width: 20%;
  }
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical .share-social li a img {
    float: left;
    text-align: left;
    width: 30px;
  }
  .content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical .lb_copy {
    margin-top: 10px;
  }
}
.content-list .col3 .item .proflie_post .menu_icon .share:hover .sotical {
  display: block;
}
.content-list .col3 .item .proflie_post .menu_icon .count {
  margin: auto 0px;
  margin-right: 10px;
}
.content-list .col3 .item .proflie_post .menu_icon .count img {
  vertical-align: middle;
  width: 20px;
}
.content-list .col3 .item .proflie_post .menu_icon .count span {
  padding-left: 5px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .content-list .col3 .item .proflie_post .menu_icon .count {
    display: none;
  }
}
.content-list .col3 .item .proflie_post .menu_icon .lb_save {
  display: none;
  margin: auto 0px;
  justify-content: center;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .content-list .col3 .item .proflie_post .menu_icon .lb_save {
    display: block;
  }
}
.content-list .col3 .item .proflie_post .menu_icon .lb_save img {
  width: 30px;
  cursor: pointer;
  vertical-align: middle;
}
.content-list .col3 .item .proflie_post .menu_icon .lb_save span {
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  .content {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 25px;
  }
  .content .content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 480px) and (max-width: 920px) {
  .content .content-list {
    justify-content: left;
  }
}
@media screen and (max-width: 480px) {
  .content .content-list .coll {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .content .content-list .col3 {
    flex: 0 0 100%;
  }
  .content .content-list .col3 .item {
    width: 100%;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    float: left;
    position: relative;
  }
  .content .content-list .col3 .item:hover .img_item img {
    transform: scale(1.2);
  }
  .content .content-list .col3 .item .title {
    padding: 10px;
  }
  .content .content-list .col3 .item .title h3 {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: normal;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 25px;
  }
  .content .content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (max-width: 920px) {
  .content .content-list {
    justify-content: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .content .content-list .coll {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    width: 46%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .content .content-list .col3 {
    flex: 0 0 46%;
  }
  .content .content-list .col3 .item {
    width: 100%;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    float: left;
    position: relative;
  }
  .content .content-list .col3 .item:hover .img_item img {
    transform: scale(1.2);
  }
  .content .content-list .col3 .item .title {
    padding: 10px;
  }
  .content .content-list .col3 .item .title h3 {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: normal;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .content {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 25px;
  }
  .content .content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) and (max-width: 920px) {
  .content .content-list {
    justify-content: left;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .content .content-list .coll {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    width: 31%;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .content .content-list .col3 {
    flex: 0 0 31%;
  }
  .content .content-list .col3 .item {
    width: 100%;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    float: left;
    position: relative;
  }
  .content .content-list .col3 .item:hover .img_item img {
    transform: scale(1.2);
  }
  .content .content-list .col3 .item .title {
    padding: 10px;
  }
  .content .content-list .col3 .item .title h3 {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: normal;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .content {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 25px;
  }
  .content .content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) and (max-width: 920px) {
  .content .content-list {
    justify-content: left;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .content .content-list .coll {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    width: 31%;
  }
}
@media screen and (min-width: 921px) and (max-width: 1200px) {
  .content .content-list .col3 {
    flex: 0 0 31%;
  }
  .content .content-list .col3 .item {
    width: 100%;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    float: left;
    position: relative;
  }
  .content .content-list .col3 .item:hover .img_item img {
    transform: scale(1.2);
  }
  .content .content-list .col3 .item .title {
    padding: 10px;
  }
  .content .content-list .col3 .item .title h3 {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: normal;
  }
}
footer .content_footer {
  margin: 0 10%;
  display: flex;
  padding-top: 30px;
  margin-top: 1%;
}
footer .content_footer .title_footer {
  font-size: 18px;
  color: #3d4d65;
  text-transform: uppercase;
}
footer .content_footer .footer_ {
  width: 30%;
}
footer .content_footer .footer_ ul {
  padding: 0;
  list-style: none;
}
footer .content_footer .footer_ ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #54657e;
  line-height: 1.6;
  font-weight: normal;
}
footer .content_footer .footer_ ul li a b {
  color: red;
}
footer .content_footer .three ul li a {
  color: #1187d2;
}
footer .content_footer .four .with_connect {
  display: flex;
}
footer .content_footer .four .with_connect li {
  padding: 5px;
}
footer .content_footer .four .with_connect li a img {
  width: 32px;
}
footer .content_footer .four .down li {
  justify-content: center;
  align-items: center;
}
footer .content_footer .four .down li a {
  display: flex;
  height: 40px;
  line-height: 40px;
}
footer .content_footer .four .down li a img {
  width: 40px;
  height: 40px;
  justify-content: center;
}
footer .content_footer .four .down li a span {
  justify-content: left;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
}
footer .footer_end {
  margin-top: 50px;
  border-top: 1px solid #cdc;
}
footer .footer_end .footer_end_content {
  margin: 15px 10%;
  display: flex;
}
footer .footer_end .footer_end_content .about_addr {
  width: calc(100% - 170px);
  font-size: 12px;
  color: #3d4d65;
  line-height: 18px;
}
footer .footer_end .footer_end_content .icon_addr {
  width: 180px;
}
footer .footer_end .footer_end_content .icon_addr img {
  justify-content: center;
  margin: auto 0px;
  width: 180px;
  height: 52px;
}

.foot_responsiv {
  display: none;
}

.about {
  display: none;
}

.fix-bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}
.fix-bottom .btn-reg {
  height: 44px;
  width: 200px;
  border-radius: 21px;
  border: none;
  background-color: #eb5155;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  color: #fff !important;
  font-size: 14px;
  font-weight: normal !important;
  text-transform: unset;
}
.fix-bottom .btn-reg .btn-reg-content {
  position: relative;
  z-index: 2;
}
.fix-bottom .btn-reg .btn-reg-content i {
  background: url(https://static.homedy.com/src/images/v1/bell.svg) no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 15px;
  margin-top: -2px;
}

.upTop {
  display: block;
  position: fixed;
  bottom: 85px;
  right: 29px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(https://static.homedy.com/src/images/v1/top.svg);
  background-size: 100%;
  cursor: pointer;
  -webkit-animation: 0.3s;
          animation: 0.3s;
  box-shadow: 0 2px 4px 0 #bdc1c9;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 999;
}

.foot_responsiv {
  text-align: center;
  margin-top: 16px;
}
.foot_responsiv .title_footer {
  padding: 5px 0;
  font-size: 18px;
  color: #3d4d65;
}
.foot_responsiv .about_me a {
  text-decoration: none;
  font-size: 14px;
  color: #448aff;
}
.foot_responsiv .about_me b {
  color: red;
}
.foot_responsiv .sotical_ft {
  display: inline-flex;
}
.foot_responsiv .sotical_ft ul {
  width: 100%;
  list-style: none;
}
.foot_responsiv .sotical_ft ul li {
  width: 32px;
  display: inline-block;
  margin-right: 8px;
}
.foot_responsiv .download ul {
  list-style: none;
}
.foot_responsiv .download ul li {
  display: inline-block;
  height: 60px;
  text-align: center;
}
.foot_responsiv .download ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #54657e;
  font-weight: normal;
}
.foot_responsiv .download ul li a img {
  float: left;
  width: 50px;
}
.foot_responsiv .download ul li a span {
  width: 100%;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 4px;
}

.about {
  background: #fff;
  border-top: 1px solid #ebebeb;
  float: left;
  width: 100%;
  padding-top: 20px;
}
.about .about_content {
  display: block;
  text-align: center;
  margin-top: 8px;
  padding-bottom: 16px;
}
.about .about_content a {
  text-decoration: none;
  color: #1187d2;
}
.about .img_about {
  float: right;
}
.about .img_about img {
  width: 150px;
}

.dis_popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.popup {
  max-width: 570px;
  height: 400px;
  text-align: center;
  padding: 25px 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 6pxrgba 0, 0, 0, 1;
  border-radius: 3px;
  background: #fff;
}
.popup .logo img {
  width: 120px;
}
.popup h3 {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
  font-weight: normal;
  margin-bottom: 20px;
}
.popup a {
  text-decoration: none;
  color: #0298da;
}
.popup p {
  color: #3d4d65;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  font-weight: normal;
}
.popup strong {
  color: #0098da;
  display: block;
  margin-top: 4px;
  font-weight: 500;
}
.popup .div_login .a_login {
  border-radius: 4px;
  background-color: #0298da;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  height: 44px;
  width: 350px;
  line-height: 46px;
  transition: 0.3s;
}
.popup .popup_footer {
  margin-top: 20px;
}
.popup .popup_footer img {
  width: 30%;
  float: left;
}
.popup .popup_footer .app {
  margin-top: 20px;
}
.popup .popup_footer .app a img {
  width: 100px;
  margin-left: 20px;
}
.popup .close_popup {
  cursor: pointer;
  width: 35px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  transition: ease 0.25s all;
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 23px;
  text-align: center;
  line-height: 100%;
  background: #fff;
  right: 20px;
  top: 20px;
}
.popup .close_popup img {
  position: relative;
  width: 20px;
  display: inline-block;
  background-size: 50%;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  footer {
    display: none;
  }
  .second_header {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  footer {
    display: none;
  }
  .foot_responsiv {
    display: block;
  }
  .about {
    display: block;
  }
}
